.icon {
  padding-right: 10px;
  display: flex;
  align-items: center;
}

/* burger icon position */
.bm-burger-button {
  position: fixed;
  width: 30px;
  height: 25px;
  left: 15px;
  top: 15px;
}

/* burger icon color */
.bm-burger-bars {
  background: #FFFFFF;
}
